<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Usuário</mat-label>
    <mat-select [(ngModel)]="anuncioProd.usuario" name="usuario" required>
      <mat-option *ngFor="let usuario of usuarios" [value]="usuario._id">
        {{ usuario.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Nome do Produto</mat-label>
		<input matInput placeholder="Informe o nome do produto" [(ngModel)]="anuncioProd.nomeProd" name="nomeProd" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select [(ngModel)]="anuncioProd.categoria" name="categoria" required>
      <mat-option *ngFor="let categoria of categorias" [value]="categoria.val">
        {{ categoria.val }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Modalidade</mat-label>
    <mat-select [(ngModel)]="anuncioProd.modalidade" name="modalidade" required>
      <mat-option *ngFor="let modalidade of modalidades" [value]="modalidade.val">
        {{ modalidade.val }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Descrição</mat-label>
		<input matInput placeholder="Informe uma descrição para o produto" 
    [(ngModel)]="anuncioProd.descricao" name="descricao" required>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Preço</mat-label>
		<input matInput placeholder="Informe o preço do produto" 
    [(ngModel)]="anuncioProd.preco" name="preco" required>
  </mat-form-field>

  <mat-form-field>
		<mat-label>Quantidade</mat-label>
		<input matInput placeholder="Informe a quantidade do produto" 
    [(ngModel)]="anuncioProd.qtde" name="qtde" required>
  </mat-form-field>


  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
